body{
    margin:0;
    padding:0;
    font-family: system-ui;
}

.parallax,.parallax1
{
    background-image: url('veg.jpg');
    height: max-content;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-title
{
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: beige;
    padding: 50px;
    font-variant: small-caps;
    font-size: 100px;
    letter-spacing:20px;
    font-family: fantasy;
}

.sticky
{
    position: fixed;
    top:0;
    width: 100%;

}
.menu
{
    background: #184d47;
    text-align: center;
}
.menu-ul
{
    margin:0;
    padding:0;
    display: inline;
}
.menu-ul li{
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding:25px 25px 26px 26px;
}
.a-menu,.a-links{
    text-decoration: none;
    color: white;
    
}
.menu-ul li:hover{
    background:#5b8c5a;
    transform: scale(1.1);
    font-size: 27px;
}
.search-box
{
    border:1px solid white;
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin:8px;
    padding-bottom: 10px;
}
.search-box:hover{
    box-shadow: 0 0 10px 2px #5b8c5a;
    border:1px solid #5b8c5a;
}
.search-input
{
    width:250px;
    border:none;
    font-size: 16px;
    outline: none;
    background:transparent;
    margin:15px 0 0 10px;

}
i{
    font-size:20px;
}
button{
    background: transparent;
    border: none;
    outline:none;
}
.container
{
    margin:50px 50px 50px 5%;
    width:90%;
    text-align: center;
}
.categories,.items
{
    width: max-content;
    margin: 25px;
    border: 1px solid #184d47;
    border-radius: 20px 20px 20px 20px;
    display: inline-block;
}
.categories:hover,.item:hover
{
    box-shadow: 0 0 10px 3px #184d47;

}
.item-image
{
    height: 200px;
    width:200px;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;

}
.image-title
{
    text-align: center;
    padding:10px;
    font-weight:bold;
}
a{
    text-decoration:none ;
}
.title
{
    padding:50px;
    font-size:50px;
    font-weight: bold;
    letter-spacing: 10px;
    color:white;
    background:rgba(0,0,0,0.5);
}
.deal
{
    padding: 50px;
    font-size: 20px;
    font-family: bold;
    color:white;
    display: inline-block;
    margin:20px;
    max-width: 20%;
    background:linear-gradient(120deg,#f1300e 20%,#130fe9 50%,#0f7c34 80%);
}
.coupon-btn
{
    border:1px solid white;
    color:white;
    margin:20px;
    padding:10px;
    border-radius: 20px;
}
.coupon-btn:hover
{
    box-shadow:0 0 10 5px white inset;
}
.images
{
    display: inline-block;
}
.item-image-size
{
    height: 200px;
    width:300px;
    padding:5px;
    border-radius: 20px;
}

.description
{
    margin:20px;
    min-height: 100px;
    text-align: center;
}
.item-select
{
    margin:10px 0 0 0;
}
.buynow-bthn
{
    
    border:1px solid #184d47;
    background:#184d47;
    padding:5px 15px;
    height:30px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    color:white;
}
.buynow-bthn:hover
{
    border:1px solid #d3e90f;
    box-shadow: 0 0 10px 5px #13c510 inset;
}
.parallax1{
    background-image:url('web.jpg') ;
}
.footer
{
    background:rgba(0, 0, 0, 0.5) ;
    text-align: center;
    padding: 20px;
}
.quick-links
{
    color: white;
    font-size:20px;
    font-weight: bold;
    display: inline-block;
    min-width: 30%;

}
.quick-links ul
{
    padding:0;
}
.quick-links li{
    list-style: none;
    padding:10px;
    font-weight: 300px;
}
.quick-links li:hover
{
    color:#fd5e53;
}
.copyrights
{
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    margin:15px;
    color:darkmagenta;
}
